@model IEnumerable<PortalMaggieCard.Models.PostView>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
@if (TempData["Fail"] != null)
{
    <div class="alert alert-danger">
        <p><strong>Fail:</strong> @TempData["Fail"].ToString()</p>
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostSubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCategoriesView.PostCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsView.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostSubTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCategoriesView.PostCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductsView.ProductName)
                </td>
                <td>
                    @Html.ActionLink("Update Post", "UpdatePost", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete Post", "DeletePost", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

}

